In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\rubn\\Downloads\\Python Scripts\\pandas-Datasets\\pandas-Datasets'

In [8]:
pokemon=pd.read_csv("pokemon.csv")

In [9]:
pokemon

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [11]:
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [12]:
pokemon.tail()

       Pokemon     Type
716    Yveltal     Dark
717    Zygarde   Dragon
718    Diancie     Rock
719      Hoopa  Psychic
720  Volcanion     Fire

# Pandas Series

In [ ]:
myinitials=["rubn", "gbag", "pyks","prkh", "vmbh"]

In [15]:
initials=pd.Series(myinitials)

In [16]:
initials

0    rubn
1    gbag
2    pyks
3    prkh
4    vmbh
dtype: object

In [19]:
type(initials)

pandas.core.series.Series

In [17]:
mynum=[4,5,6,7,8,9,10]

In [18]:
pd.Series(mynum)

0     4
1     5
2     6
3     7
4     8
5     9
6    10
dtype: int64

In [20]:
mybol=[True,False,True,1,0]

In [23]:
bool=pd.Series(mybol)
bool

0     True
1    False
2     True
3        1
4        0
dtype: object

In [24]:
type(mybol)

list

# convert a dictionary to a series

In [28]:

mytv={'tv1':'local', 'tv2':'stand', 'tv3':'india', 'tv4':'dk'}

In [36]:
type(mytv)
mytv.keys()
mytv.values()
mytv['tv1']
mytv.items()

dict_items([('tv1', 'local'), ('tv2', 'stand'), ('tv3', 'india'), ('tv4', 'dk')])

In [38]:
mytv1=pd.Series(mytv)

In [41]:
mytv1

tv1    local
tv2    stand
tv3    india
tv4       dk
dtype: object

# inbuilt attributes (variables) and methods in series

In [42]:
mypet=['dog', 'cat', 'snake','rat']

In [44]:
pet=pd.Series(mypet)
pet

0      dog
1      cat
2    snake
3      rat
dtype: object

In [48]:
#attributes
pet.keys
pet.values
pet.astype

<bound method NDFrame.astype of 0      dog
1      cat
2    snake
3      rat
dtype: object>

In [49]:
pet.convert_dtypes

<bound method NDFrame.convert_dtypes of 0      dog
1      cat
2    snake
3      rat
dtype: object>

In [51]:
num=[1,2,3,4,5]
type(num)

list

In [54]:
mynum=pd.Series(num)
num

[1, 2, 3, 4, 5]

In [55]:
fruits=['apple', 'banna','mango', 'kiwi']

In [57]:
weekdays=['monday', 'tuesday', 'wednesday', 'friday']

In [60]:
pd.Series(data=fruits, index=weekdays)

monday       apple
tuesday      banna
wednesday    mango
friday        kiwi
dtype: object

In [61]:
pd.Series(fruits,weekdays)

monday       apple
tuesday      banna
wednesday    mango
friday        kiwi
dtype: object

In [63]:
fruits=pd.Series(fruits,weekdays,name='Fruits')

In [64]:
fruits

monday       apple
tuesday      banna
wednesday    mango
friday        kiwi
Name: Fruits, dtype: object

In [67]:
fruits.to_csv('dite.csv',sep='|')